@font-face {
  font-family: Montserrat-B;
  src: url("../../fonts/Montserrat-Bold.ttf");
}

.flag{
  width: 170px;
  height: 125px;
  padding: 20px;
}
.bj{
  width: 170px;
  margin-top: 100px;
}

ion-card{
  background: #242A36;
  box-shadow: 0 7px 10px 0 rgba(0,0,0,0.47);
  border-radius: 10px;
}

ion-label{
  color: white;
  font-size: 15pt;
}
