<ion-content>
  <ion-slides #slides id="slides" [options]="slideOpts">
    <ion-slide id="selectLang">
      <ion-grid>
        <ion-row  justify-content-center align-items-center style="height: 100vh">
          <ion-card (click)="nextSlide()">
            <ion-card-content>
              <img class="flag" src="../../assets/images/tutorial/Flag_of_Ukraine.svg">
              <ion-label>Українська</ion-label>
            </ion-card-content>
          </ion-card>
          <ion-card (click)="nextSlide()">
            <ion-card-content>
              <img class="flag" src="../../assets/images/tutorial/1465904416125883309.png">
              <ion-label>English</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row  justify-content-center align-items-center >
          <img src="../../assets/images/tutorial/smileBJ.png" class="bj">
        </ion-row>
        <ion-row justify-content-center align-items-center>
          <h1 style="color: #ffffff;"><b>DEAR USER</b></h1>
        </ion-row>
        <ion-row justify-content-center align-items-center>
          <ion-text color="light">

            Hi! Its only an alpha<br>
            demo version,
            so sorry for bugs. We are<br>
            working everyday to kill<br>
            them!<br><br>

            If you find a bug, please<br>
            report us and restart application!<br>
            info@beeworker.com.ua<br>
            <br>
            Thanks!<br>
            <br>

            bee🐝 </ion-text>
        </ion-row>
        <ion-row justify-content-center align-items-center>
          <ion-button shape="round" style="height: 40px; margin-top: 20px;" (click)="next()">I'm understood!</ion-button>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
