ion-title {
  font-family: Montserrat-R, sans-serif;
  font-size: 18pt;
}

.header-md:after {
  background-image: none;
}
ion-label{
  --color:white !important;
}

ion-toggle{
  --background: white;
  --handle-background-checked: white;
}

.title{
  font-size: 18pt;
  margin-bottom: 0;
}
.subTitle ion-label{
  font-size: 13pt;
  color: #767777;
}

.fullTaskInfo{
  padding: 0;
  color: #e5e5e5;
  --border-radius: 15px;
  --background: #323438;
}

.about-propose-modal .modal-wrapper{
  height: 70% !important;
}

.btnOrder{
  margin: 20px;
  --border-radius: 50px;
  height: 50px;
}

#chPrice{
  --border-color: white;
}
