<ion-header (pandown)="dismiss()">
  <ion-toolbar>
    <ion-title color="light">Моя пропизиція</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-down"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-item lines="none">
    <ion-label>Фіксована ціна</ion-label>
    <ion-toggle id="fixPriceChanger" slot="start" mode="ios" checked disabled (click)="changeToFixPrice()"></ion-toggle>
  </ion-item>
  <ion-item lines="none">
    <ion-label color="light" class="title">Ціна за завдання</ion-label>
  </ion-item>
  <ion-item class="subTitle" lines="none" style="margin-top:-7px" >
    <ion-label text-wrap color="light" margin-top="0px">
        Запропонуйте свою чи залиште наявну
     </ion-label>
  </ion-item>

    <ion-grid>
      <ion-row justify-content-center align-items-center>
        <ion-col size="8">
          <ion-item lines="full" id="chPrice">
            <ion-input id = 'customPrice' color="light" type="number" text-center min="0" style="font-size: 28pt" value="{{money}}"></ion-input>
            <ion-label class="firstCardText-value" id="currencySign" > грн.</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

  <div class="hourRate" style="display: none">
    <ion-item lines="none">
      <ion-label color="light" class="title">Приблизні години</ion-label>
    </ion-item>
    <ion-item class="subTitle" lines="none">
      <ion-label text-wrap color="light">
        Вкажіть скільки приблизно часу вам потрібно для
        виконання цього завдання
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-range id="muchTime" dualKnobs="true" min="1" max="24" step="1" snaps="true" pin="true" ticks="true"></ion-range>
    </ion-item>
  </div>
  <ion-item lines="none">
    <ion-label color="light" class="title">Мотиваційне повідомлення</ion-label>
  </ion-item>
  <ion-item class="subTitle" lines="none">
    <ion-label text-wrap color="light">
      Коротко поясніть чому саме ви повинні виконувати
      це задання
    </ion-label>
  </ion-item>
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <ion-col>
        <ion-item lines="none" class="fullTaskInfo">
          <ion-textarea id="areaProposal" rows="5" cols="50" placeholder="Напишіть про себе і свій досвід який потрібен для виконання цього завдання (більше 20 символів)" required="true" spellcheck="true"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center align-items-center>
      <ion-button expand="full" shape="round" class="btnOrder" (click)="sendProposalToServer()">Відправити</ion-button>
    </ion-row>
  </ion-grid>

</ion-content>
