<ion-content>
    <ion-grid id="headForm" class="searchHeader closed" >

        <ion-slides #slides [options]="slideOpts">
            <ion-slide>
                <ion-grid style="padding-bottom: 20px">
                    <ion-row class="header" justify-content-start align-items-start margin-top>BeeWorker! alpha v 0.1.1</ion-row>
                    <ion-row class="avatar" justify-content-center align-items-center>

                        <div class="workNearYou"></div>

                        <ion-avatar style="padding: 25px 23px 25px 27px;">
                            <img id="proposerAvatar" src="https://randomuser.me/api/portraits/women/59.jpg" alt="avatar">
                            <ion-badge color="success" id="proposerRang">44</ion-badge>
                        </ion-avatar>
                        <div class="workNearYou" (click)="goToPurse()"></div>
                    </ion-row>
                    <ion-row class="bar" justify-content-center align-items-center>
                        <input id="pac-input" #pacInput type="text" placeholder="" style="border-radius: 10px; width: 85vw" (click)="pacInput.select()">
                    </ion-row>
                    <ion-row class="filter" justify-content-center align-items-center style="margin-top: 10px">
                        <ion-buttons>                                                                                                             
                            <button shape="round" class="filterBtn" (click)="filterTasksOnMap($event, 'Уборка')"></button>
                            <button shape="round" class="filterBtn" (click)="filterTasksOnMap($event, 'Ремонт')"></button>
                            <button shape="round" class="filterBtn" (click)="filterTasksOnMap($event, 'Доставка')"></button>
                            <button shape="round" class="filterBtn" (click)="filterTasksOnMap($event, 'Уборка')"></button>
                            <button shape="round" class="filterBtn" (click)="filterTasksOnMap($event, 'Уборка')"></button>
                        </ion-buttons>
                    </ion-row>
                    <ion-row  justify-content-center align-items-center >
                        <ion-icon id="animBtn" name="ios-arrow-up" color="light" style="position:absolute; top: 70px; width: 100%;"></ion-icon>
                    </ion-row>
                </ion-grid>
            </ion-slide>

            <ion-slide id="purseSlide" >
                <ion-grid class="purse">
                    <ion-row>
                        <ion-item lines="none" style="font-size: 10pt">
                            <ion-icon name="ios-arrow-back" color="white" (click)="goToMainSlide()"></ion-icon>
                            <ion-label (click)="goToMainSlide()">Гаманець</ion-label>
                        </ion-item>
                    </ion-row>
                    <ion-row>
                        <ion-col size="6">
                            <ion-item lines="none" text-left>
                                <ion-label id="purseMoneyVal">1000</ion-label>
                            </ion-item>
                        </ion-col>

                        <ion-col size="6" >
                                <ion-button class="operationsBtns" color="dark" shape="round">Поповнити</ion-button>
                                <ion-button class="operationsBtns" color="dark" shape="round">Вивести</ion-button>
                        </ion-col>
                    </ion-row>
                    <ion-row padding-top>
                        <ion-col size="4">
                            <ion-label class="earnInfoPeriod">Сьогодні</ion-label><br>
                            <ion-label id="earnToday" class="earnedMoney">300</ion-label>
                        </ion-col>
                        <ion-col size="4" class="middleMoneyBlock">
                            <ion-label class="earnInfoPeriod">Цього тижня</ion-label><br>
                            <ion-label id="earnWeek" class="earnedMoney">300</ion-label>
                        </ion-col>
                        <ion-col size="4">
                            <ion-label class="earnInfoPeriod">Цього місяця</ion-label><br>
                            <ion-label id="earnMonth" class="earnedMoney">1000</ion-label>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-slide>
        </ion-slides>
    </ion-grid>

  <!--create a element for map. #Map - identifier -->
  <div id="map_canvas" class="map" (click)="hideMenu()" style="transform: translateY(80px);"></div>

  <div id="infoWindowBack"  style="width: 80%; display: none">
    <ion-grid style="padding-right: 10px">
         <ion-row>
             <ion-col size="2" class="liFontawesome"></ion-col>
             <ion-col class="liText">
                 <b class="liTextBold"> {{date}} </b>
             </ion-col>
         </ion-row>
         <ion-row>
             <ion-col size="2" class="liFontawesome"></ion-col>
             <ion-col size="10" class="liText"><b class="liTextBold"> {{money}} </b> грн/година</ion-col>
         </ion-row>
         <ion-row>
             <ion-col size="2" class="liFontawesome"></ion-col>
             <ion-col size="10" class="liText"><b class="liTextBold">{{time}}</b> години</ion-col>
         </ion-row>
         <ion-row>
             <ion-col size="2" class="liFontawesome"></ion-col>
             <ion-col size="10" class="liText"> {{type}} </ion-col>
         </ion-row>
          <ion-row justify-content-center align-items-center>
              <ion-button color="dark" expand="block" id="btnFullTask" class="shTaskBtn" >Більше</ion-button>
          </ion-row>
         </ion-grid>
 </div>

</ion-content>

