@font-face {
  font-family: Montserrat-R;
  src: url("../../fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: Montserrat-B;
  src: url("../../fonts/Montserrat-Bold.ttf");
}


@font-face {
  font-family: "Font Awesome Solid";
  src: url("../../fonts/FontAwesome5Free-Solid-900.otf");
}

@font-face {
  font-family: Montserrat-RL;
  src: url("../../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Montserrat-L;
  src: url("../../fonts/Montserrat-Light.ttf");
}
body{
  font-family: Montserrat-RL, sans-serif;
}

#map_canvas {
  width: 100%;
  height: 90vh;
}
.gm-style-cc { display:none;
background-color: rgba(253,207,69,0.85);
}

//Marker on center
.map:after {
  transition: opacity 0.2s ease-in-out ;
  width: 60px;
  height: 70px;
  z-index: 600;
  opacity: 0;
  content: ' ';
  position: absolute;
  top: 44%; left: 44%;
  background: url('../../assets/icon/point.png') no-repeat;
  background-size: 60px 70px; /* Since I used the HiDPI marker version this compensates for the 2x size */
  pointer-events: none; /* This disables clicks on the marker. Not fully supported by all major browsers, though */
}

.infowindow-content{
  background: violet !important;
  color: #F1F1F1;
}

.searchHeader{
  position: absolute;
  top: 0;
  border-radius: 0 0 13px 13px;
  height: 260px;
  width: 100%;
  background: linear-gradient(to bottom, #EB9817 50%, #FFD932 100%);
  box-shadow: 0px 6px 11px -5px rgba(15, 15, 15, 0.69);
  z-index: 50;
}
.searchHeader .header{
  font-size: 6pt;
  opacity: 1;
}

ion-content{
  --overflow: hidden;
}

#pac-input{
  color: #262626;
  background: #feffff !important;
  border: none;
  height: 40px ;
  width: 65vw;
  padding-left: 15px;
  outline: none;
  padding-right: 15px;
}

#moneyVal, #coinVal{
  font-size: 0.9rem;
  font-family: Montserrat-R, sans-serif;
}
#moneyVal:before{
  font-family:  "Font Awesome Solid", sans-serif;
  padding-right: 5px;
  content: '';
}

#coinVal:before{
  font-family:  "Font Awesome Solid", sans-serif;
  padding-right: 5px;
  content: '';
}

input[type="text"]::placeholder {
  font-size: 20px;
  text-align: right;
  font-family:  "Font Awesome Solid", sans-serif;
}

#backGreyBtn{
  transition: width 0.3s ease-in-out ;
  width: 0px;
  opacity: 0;
  height: 45px;
  --border-radius: 50px;

}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {

  display: none;
}

.map #infowindow-content {
  display: inline;
}

.pac-card {
  background-color: rgba(253,215,50,0.85);
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#bgwindow {
  background-color: #fdcf45;
  padding: 50px;
  height: 40px;
  width: 100px;
}

.pgm-html-info-content-box {
  width: 95% !important;
}

.liFontawesome {
  font-family:  "Font Awesome Solid", sans-serif;
  color: black;
  font-size: 13pt;
}

.liText {
  font-family: Montserrat-RL, sans-serif;
  color: black;
  font-size: 13pt;
}


.popup-bubble {
  /* Position the bubble centred-above its parent. */
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -100%);
  /* Style the bubble. */
  background-color: #fdcf45;
  font-size: 14px;
  padding: 5px;
  border-radius: 10px;
  overflow-y: auto;
  max-height: 250px;
  width: 200px;
  box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
}
/* The parent of the bubble. A zero-height div at the top of the tip. */
.popup-bubble-anchor {
  /* Position the div a fixed distance above the tip. */
  position: absolute;
  width: 200px;
  bottom: /* TIP_HEIGHT= */ 8px;
  left: 0;
}
/* This element draws the tip. */
.popup-bubble-anchor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* Center the tip horizontally. */
  transform: translate(-50%, 0);
  /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
  width: 0;
  height: 0;
  /* The tip is 8px high, and 12px wide. */
}
/* JavaScript will position this div at the bottom of the popup tip. */
.popup-container {
  cursor: auto;
  height: 0;
  position: absolute;
  /* The max width of the info window. */
  width: 100px;
  background-color: #fdcf45;
}

#infoWindowBack{
  width: 95% !important;
}


.shTaskBtn{
  font-family:  Montserrat-L, sans-serif;
  --color: #fdd732;
  font-size: 11pt;
  margin-top: 10px;
  width: 70%;
}
.pgm-html-info-content-frame {
  border: none !important;
  border-radius: 20px;
}

.liTextBold {
  opacity: 1 !important;
  padding: 0 !important;
  font-family:  Montserrat-R, sans-serif;
  color: black;
  font-size: 13pt;
};


ion-avatar{
  width: 100px;
  height: 100px;
  padding: 25px 25px 25px 27px;
  background: url("../../../src/assets/images/about/Polygon18.svg") no-repeat;
  background-size: cover;
}

ion-avatar img{
  box-shadow: 0px 6px 11px -5px rgba(15, 15, 15, 0.69);
}
#proposerRang{
  margin-top: 21px;
  margin-left: -13px;
  opacity: 1;
  position: absolute;
  --padding-top: 6px;
  padding-left: 4px;
  transform: translateY(0);
  border: white 3px solid;
  border-radius: 31px;
  height: 30px;
  width: 30px !important;
  box-shadow: 0px 6px 11px -5px rgba(15, 15, 15, 0.69);
}

.workNearYou{
  font-family: 'Font Awesome Solid', sans-serif;
  margin-left: 6px;
  font-size: 9pt;
  padding: 12px 10px 10px 6px;
  background: url("../../../src/assets/icon/iconSota.svg") no-repeat;
  background-size: contain;
  color: white;
  width: 38px;
  height:38px;
}
.filterBtn{
  margin: 5px;
  width: 40px;
  height: 40px;
  font-family: 'Font Awesome Solid', sans-serif;
  color: #ca9a20;
  background: white;
  box-shadow: 0px 6px 11px -5px rgba(15, 15, 15, 0.69);
  border-radius: 30px;
}

ion-buttons{
  opacity: 1;
}

.purse ion-item{
  width: 100%;
  --background: none;
  color: white;
}
#purseMoneyVal{
  font-size: 45px;
  font-family: Montserrat-R, sans-serif;
  text-shadow: 0px 5px 6px rgba(0,0,0,0.3);
}

#purseMoneyVal:before{
  font-size: 17px;
  content: '₴';
}

.purse .operationsBtns{
  font-size: 10pt;
  width: 125px;
  height: 35px;
}

.earnedMoney{
  font-size: 10pt;
  font-family: Montserrat-B, sans-serif;
  color: white;
  padding-right: 15px;
}
.earnedMoney:before{
  content: '+ ₴ ';
}
.earnInfoPeriod{
  font-size: 10pt;
  color: white;
}

.middleMoneyBlock{
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.purseSlide{
  display: block;
}

.progress{
  transform: rotate(270deg);
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  z-index: 50000;
  left: 29%;
  position: absolute;
  height: 140px;
  background: transparent;
  top: 95px;
  pointer-events: none;
  width: 164px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events:auto;

}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 3px solid rgba(41, 255, 0, 0.03);
  height: 50px;
  width: 1px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

#animBtn{
  --background: rgba(255, 255, 255, 0);
  font-size: 20pt;
}
