<ion-content >
  <div id="map_canvas_change_location" class="map">
    <ion-button (click)="mylocation()" style="width: 100px; position: absolute; right: 2vw; top: 3vh; z-index: 99999;">I`m here</ion-button>
    <ion-button (click)="dismiss()" style="width: 100px; position: absolute; right: 72vw; top: 3vh; z-index: 99999;">Exit</ion-button>
  </div>
</ion-content>
