#map_canvas_change_location{
  position: relative;
  width: 100%;
  height: 100%;
}

.map:after {
  transition: opacity 0.2s ease-in-out ;
  width: 60px;
  height: 70px;
  z-index: 99999;
  content: ' ';
  position: absolute;
  top: 44%; left: 44%;
  background: url('../../assets/icon/point.png') no-repeat;
  background-size: 60px 70px; /* Since I used the HiDPI marker version this compensates for the 2x size */
  pointer-events: none; /* This disables clicks on the marker. Not fully supported by all major browsers, though */
}