<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid class="taskPageHeader">
    <ion-row class="ion-justify-content-center ion-align-items-end">
      <ion-col class="backAvatar ion-justify-content-center ion-align-items-end" size="4" style="height: 110px; margin-bottom: 5px">
        <ion-avatar >
          <img src="https://randomuser.me/api/portraits/women/59.jpg">
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card style="margin-top: -75px;">
    <ion-card-content>
      <ion-grid no-padding>
        <ion-row style="padding-top: 60px">
          <ion-col size="12" id="userName" text-center>Bee Tester</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" id="userCity" text-center>Житомир, 25р.</ion-col>
        </ion-row>
        <ion-row justify-content-center align-items-center style="margin: 15px">
          <ion-col size="3" text-center><span id="doneTasks">12</span><br><p class="underProfileInfoText">виконаних завдань</p></ion-col>
          <ion-col size="3" text-center><span id="feedBackCount">5</span><br><p class="underProfileInfoText">відгуків за активність</p></ion-col>
          <ion-col size="3" text-center><span id="spendMoney">200</span><br><p class="underProfileInfoText">витратив<br>в BeeWorker</p></ion-col>
          <ion-col size="3" text-center><span id="earnedMoney">1k+</span><br><p class="underProfileInfoText">заробив<br>з BeeWorker</p></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Довіра
    </ion-card-header>
    <ion-card-content>
      <ion-grid no-padding>
        <ion-row>
          <ion-range style="pointer-events: none" value="90">
          </ion-range>
        </ion-row>
        <ion-row justify-content-center align-items-center text-center>
          <ion-col size="2"><ion-icon name="information-circle"></ion-icon></ion-col>
          <ion-col size="10" text-start class="aboutTruth">Довіра формується на основі повноти заповнених даних про Вас та виконаних завдань. Вона може впасти якщо ви не виконали своє завдання чи виконали його не якісно. </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Ідентифікація
    </ion-card-header>
    <ion-card-content>
      <ion-grid no-padding>
        <ion-row>
          <ion-item lines="none" class="contactInfo">
            <ion-icon name="phone-portrait" color="light"></ion-icon>
            <ion-label>+38 063 123 22 33</ion-label>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item lines="none" class="contactInfo">
            <ion-icon name="mail" color="light"></ion-icon>
            <ion-label>info@beeworker.com.ua</ion-label>
          </ion-item>
        </ion-row>
        <ion-row justify-content-center align-items-center text-center>
          <ion-col size="2" class="comfIconBrands"></ion-col>
          <ion-col size="2" class="comfIconBrands"></ion-col>
          <ion-col size="2" class="comfIconBrands"></ion-col>
          <ion-col size="2" class="comfIconBrands"></ion-col>
          <ion-col size="2" class="iconRegular"></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Про себе
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row justify-content-center align-items-center>
          <ion-text padding-start padding-end>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</ion-text>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Статистика по завданням
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row justify-content-center align-items-center style="height: 175px">
          <ion-col size="6" justify-content-center align-items-center>
            <ion-label text-center style="position: absolute; left: 15.5vw; top: 44%; font-size: 9pt;" color="light">7 / 10<br>завдання</ion-label>
            <google-chart [data]="pieChart" style="width: 300px"></google-chart>
          </ion-col>
          <ion-col size="6" class="ion-align-items-center"><img align-self-center class="ion-align-items-center" src="../../assets/images/profile/succesCircle.png" style="width: 70%; margin-left: 20px; "></ion-col>

        </ion-row>
        <ion-row>
          <ion-label class="categoryUsage" text-center color="light"><span style="color:#FFA2DD;">Прибирання - 25% </span> <span style="color:#FD8683;">Ремонт - 20% </span> <span style="color:#9496FD;">Доставка - 17% </span> <span style="color:#B3FFB3;">Кулінарія - 15% </span> <span style="color:#FF8A9A;">Освіта - 10% </span></ion-label>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Досягнення
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row justify-content-center align-items-baseline text-center>
            <ion-col size="2" class="achievementsDone"></ion-col>
            <ion-col size="2" class="achievementsDone"></ion-col>
            <ion-col size="2" class="achievementsDone">10</ion-col>
            <ion-col size="2" class="achievementsDone"></ion-col>
            <ion-col size="2" class="achievementsDone"></ion-col>
            <ion-col size="2" class="achievementsDone">1</ion-col>
        </ion-row>
        <ion-row></ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Останній відгук
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row class="lastReviewer">
          <ion-col class="" size="3" justify-content-center align-self-center>
            <ion-avatar style="margin: 0 0 0 10px">
              <img src="https://randomuser.me/api/portraits/men/79.jpg">
            </ion-avatar>
          </ion-col>
          <ion-col size="7" class="lastReviewerText">
            <ion-label color="dark"><b>Володимир Талько</b></ion-label><br>
            <ion-text color="dark">"Я рекомендую цього виконавця.
              Дуже ввічлива і порядна людина. Чітко і якісно виконала всі поставленні задачі"</ion-text>
          </ion-col>
          <ion-col size="2" class="lastReviewerPoint" text-center align-self-center><ion-icon name="thumbs-up" color="warning"></ion-icon></ion-col>
        </ion-row>
        <ion-row></ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


</ion-content>
