@font-face {
  font-family: "Font Awesome Regular";
  src: url("../../fonts/FontAwesome5Free-Regular-400.otf");
}

@font-face {
  font-family: "Font Awesome Solid";
  src: url("../../fonts/FontAwesome5Free-Solid-900.otf");
}
@font-face {
  font-family: "Font Awesome 5 Brands";
  src: url("../../fonts/FontAwesome5Brands-Regular-400.otf");
}
@font-face {
  font-family: Montserrat-R;
  src: url("../../fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: Montserrat-RL;
  src: url("../../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Montserrat-L;
  src: url("../../fonts/Montserrat-Light.ttf");
}
@font-face {
  font-family: Montserrat-B;
  src: url("../../fonts/Montserrat-Bold.ttf");
}


.taskPageHeader{
  padding: 0;
  width: 100vw;
  height: 72vw;
  background: url("../../../src/assets/images/profile/profileHeader.png") no-repeat;
  background-size: cover;
}

ion-toolbar{
  --background: rgba(255, 255, 255, 0);
  --box-shadow: none;
}
ion-header{
  padding-top: 20px;
  position: absolute;
}

.header-md:after {
  background-image: none;
}

ion-content{
  font-family: Montserrat-RL, sans-serif;
}

ion-avatar{
  margin-top: 25px;
  margin-left: 28px;
  box-shadow: 2px 4px 7px -3px rgba(0,0,0,0.46);
}

.backAvatar{
  background: url("../../../src/assets/images/about/Polygon18.svg") no-repeat;
  position: absolute;
  z-index: 1000;
  top: 150px;
}
#userName{
  color: white;
  font-size: 20pt;
  font-family: Montserrat-B, sans-serif;
}

#userCity{
  color: white;
  font-size: 10pt;
  font-family: Montserrat-L, sans-serif;
}
ion-card{
  transform: translateY(100px);
  opacity: 0;
}

ion-card-content{
  padding: 0 0 10px;
}

ion-card-content ion-col{
  font-family: 'Montserrat-RL', sans-serif;
  color: white;
  letter-spacing: -0.5px;
  font-size: 15pt;
  line-height: 1.1;
}

ion-card-header{
  font-family: 'Montserrat-RL', sans-serif;
  color: white;
  font-size: 15pt;
}

.proposerRang{
  position: absolute;
  --padding-top: 4px;
  bottom: 17px;
  right: 10px;
  border: white 3px solid;
  border-radius: 31px;
  height: 28px;
  box-shadow: 0px 6px 11px -5px rgba(15, 15, 15, 0.69);
}

ion-card{
  border-radius: 20px;
  background: #1D2127;
}

.underProfileInfoText{
  line-height: 1.2;
  font-size: 11px;
  font-family: Montserrat-L, sans-serif;
}

ion-range{
  --bar-height: 30px;
  --bar-background: #403F3F;
  --bar-border-radius: 40px;
  --knob-background: rgba(64, 63, 63, 0);
  --bar-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  pointer-events: none
}

ion-range::after{
  font-family: Montserrat-R, sans-serif;
  color: white;
  font-size: 15px;
  content: '90/100';
  position: absolute;
  text-align: center;
  width: 100%;
}

.aboutTruth{
  font-size: 11px !important;
  font-family: Montserrat-L, sans-serif;
  padding-right: 20px;
}

ion-item{
  --background: none;
  color: white;
}
.contactInfo ion-label{
  margin-left: 20px;
}

.comfIconBrands{
  font-family: "Font Awesome 5 Brands", sans-serif !important;
  font-size: 22pt !important;
}
.iconRegular{
  font-family: "Font Awesome Solid", sans-serif !important;
  font-size: 22pt !important;
}

.fullTaskInfo{
  padding: 25px;
  color: #e5e5e5;
  --border-radius: 15px;
  --background: #323438;
}

ion-text{
  //padding: 20px;
  color: white;
  font-size: 11px !important;
  font-family: Montserrat-L, sans-serif;
}

.categoryUsage{
  font-size: 10pt;
}

.achievementsDone {
  font-family: "Font Awesome Solid", sans-serif !important;
  font-size: 22pt !important;
}

.achievementsDone::after{
  font-family: "Font Awesome Solid", sans-serif !important;
  content: '';
  color: #F5B824;
  font-size: 10pt;
  margin-left: -10px;
}
.lastReviewer{
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.38);
  background: linear-gradient(to bottom, #b4b4b4 0%, #e4e4e4 100%);
  border-radius: 20px;
}
.lastReviewerText{
 // padding-left: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 10pt !important;
  --color: black;
}
.lastReviewer ion-text{
  color:black;
}
.lastReviewerAvatar{
  position: absolute;
  top: -23px;
  left: -17px;
}
