
@font-face {
  font-family: Montserrat-BB;
  src: url("../../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: Montserrat-R;
  src: url("../../fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: Montserrat-RL;
  src: url("../../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Montserrat-L;
  src: url("../../fonts/Montserrat-Light.ttf");
}
ion-content{
  font-family:  Montserrat-R, sans-serif;
}
.addTaskMap{
  height: 200px;
  background-color: rgba(188, 188, 188, 0.85);
}
ion-checkbox{
  margin-right: 10px;
}
ion-content{
  --background: #0E1319;
}

.module-border-wrap {
  max-width: 250px;
  position: relative;
  background: linear-gradient(to right, #e27313, #dda60f);
  padding: 7px;
}
label{
  letter-spacing: -1px;
  padding-top: 15px;
  color: #b3b3b3;
  font-size: 15px;
}
ion-text{
  padding-top: 15px;
  color: #b3b3b3;
}

ion-avatar{
  width: 80px;
  height: 80px;
}

#doneBtn{
  padding: 26px;
}

.catItem{
  --background: transparent;
  color: #b3b3b3;
  width: 360px;
}

.iconSelect{
  font-family: "Font Awesome Solid", sans-serif !important;
}

ion-textarea{
  --background: #323438;
  opacity: 67%;
  font-family: Montserrat-RL, sans-serif;
}

.fullTaskInfo{
  padding: 25px;
  color: #e5e5e5;
  --border-radius: 15px;
  --background: #323438;
}

.addressInput{
  color: #e5e5e5;
  --background: none;
  border-bottom: 2px solid grey;
}

.startTime{
  font-family: Montserrat-L, sans-serif;
  font-size: 30pt ;
  padding: 0;
  color: #B3B3B3;
}
.startDate{
  font-family: Montserrat-L, sans-serif;
  font-size: 15pt ;
  padding: 0;
  color: #B3B3B3;
}

.grn{
  color: #B3B3B3;
  font-family: Montserrat-BB, sans-serif;
}

.moneyInp{
  width: 150px;
  font-size: 30pt;
  color: #B3B3B3;
  font-family: Montserrat-R, sans-serif;
}

.btnOrder{
  margin: 20px;
  --border-radius: 50px;
  width: 180px;
  height: 50px;
}
.backBTN{
  color: #B3B3B3;
  margin: 20px;
  font-family: Montserrat-L, sans-serif;
 // --border-radius: 50px;
}

.about-propose-modal .modal-wrapper{
  height: 70% !important;
}

/*#map_canvas_add_task{
 // position: relative;
  width: 300px;
  height: 180px;
//  box-shadow: 0px 6px 15px 3px rgba(0,0,0,0.75);
 // border-radius: 20px;
}
*/
#map_canvas_add_task{
  position: relative;
  width: 100%;
  height: 180px;
  box-shadow: 0px 6px 15px 3px rgba(0,0,0,0.75);
  border-radius: 20px;
}

ion-slides, ion-slide{
  --background: none;
}

.catSelect{
  padding: 0;
  font-family: "Font Awesome Solid", sans-serif !important;
}
