<ion-content >
  <ion-slides #slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-grid>
        <ion-row align-items-start>
            <ion-label class="backBTN" color="medium" (click) = "next()"><u>На головну</u></ion-label>
            <ion-col size="12" style="height: 65px;">
  
            </ion-col>
        </ion-row>
        <ion-row justify-content-center align-items-center style="height: 90px">
            <ion-avatar class="module-border-wrap">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
        </ion-row>
        <ion-row justify-content-center align-items-center>
          <label>{{UserName}}, <br> давайте додамо нове завдання</label>
        </ion-row>

        <ion-row justify-content-center align-items-center>
          <ion-text>
            <h1>Оберіть категорію</h1>
          </ion-text>

        </ion-row>

        <ion-row justify-content-center align-items-center>
          <ion-col size="7" offset="2">
            <ion-item class="catItem ion-justify-content-center" justify-content-center align-items-center text-center lines="none">
              <ion-select interface = 'action-sheet' [interfaceOptions]="customAlertOptions" placeholder="Оберіть категорію" class="catSelect ion-justify-content-center" id="chType" text-center>
                <ion-select-option value="cleaning" selected> Прибирання</ion-select-option>
                <ion-select-option value="fixing"> Ремонт</ion-select-option>
                <ion-select-option value="delivery"> Доставка</ion-select-option>
                <ion-select-option value="garden"> Садівництво</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

        </ion-row>
          <ion-row style="align-self: center">
            <ion-col size="6" style="align-self: center" offset="3">

            </ion-col>
          </ion-row>
          
      </ion-grid>
      
    </ion-slide>

  <ion-slide>
    <ion-grid>
      <ion-row>
        <ion-col size="12" style="height: 110px;" ></ion-col>

      </ion-row>
      <ion-row justify-content-center align-items-center style="height: 90px">
        <ion-avatar class="module-border-wrap">
          <img src="../../assets/icon/Group46.png">
        </ion-avatar>
      </ion-row>
      <ion-row justify-content-center align-items-center>
        <label>Чудово!<br>Що саме вам потрібно виконати?</label>
      </ion-row>

      <ion-row justify-content-center align-items-center>
        <ion-text>
          <h1>Мені потрібно...</h1>

        </ion-text>
      </ion-row>
      <ion-row justify-content-center align-items-center>
        <ion-col>
          <ion-item lines="none" class="fullTaskInfo">
            <ion-textarea rows="9" cols="50" placeholder="Опишіть подробніше ваше завдання... (більше 20 символів)" id="chAbout" required="true" spellcheck="true"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="12" style="height: 110px;" ></ion-col>

        </ion-row>
        <ion-row justify-content-center align-items-center style="height: 90px">
          <ion-avatar class="module-border-wrap">
            <img src="../../assets/icon/Group47.png">
          </ion-avatar>
        </ion-row>
        <ion-row justify-content-center align-items-center>
          <label>Тут?<br>Вам точно тут потрібно<br>виконати завдання?</label>
        </ion-row>

        <ion-row justify-content-center align-items-center>
          <ion-text>
            <h1>Адрес</h1>

          </ion-text>
        </ion-row>
        <ion-row justify-content-center align-items-center>
          <ion-col style="padding-left: 60px; padding-right: 60px;">
            <ion-item lines="none" class="addressInput">
              <ion-input id="chAddress" [(ngModel)]="streetdAdress" required="true"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center align-items-center>
            
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="12" style="height: 110px;" ></ion-col>

        </ion-row>
        <ion-row justify-content-center align-items-center style="height: 90px">
          <ion-avatar class="module-border-wrap">
            <img src="../../assets/icon/Group48.png">
          </ion-avatar>
        </ion-row>
        <ion-row justify-content-center align-items-center>
          <label>На коли вам потрібно робітника?<br>
            Вкажіть дату початку і закінчення виконання<br>
            завдання</label>
        </ion-row>

        <ion-row justify-content-center align-items-center style="margin-top: 15px;">
          <ion-col size="6" style="border-right: 1px solid orange; color: white" >
            <ion-text>
              <h1>Почати</h1>
            </ion-text>
            <ion-datetime displayFormat="HH:mm" min="{{todayTime}}"  value="{{todayTime}}" class="startTime" id="chStartTime" (ionChange)="minEndTime()"></ion-datetime>
            <ion-datetime displayFormat="DD.MM.YYYY" [min]="minDate" value="{{todayDate}}" class="startDate" id="chStartDate" (ionChange)="minEndDateTime()"></ion-datetime>
          </ion-col>
          <ion-col size="6">
            <ion-text>
              <h1>Закінчити</h1>
            </ion-text>
            <ion-datetime displayFormat="HH:mm" min="{{todayEndTime}}"  value="{{todayEndTime}}" class="startTime" id="chEndTime"></ion-datetime>
            <ion-datetime  displayFormat="DD.MM.YYYY" [min]="minDate" value="{{todayDate}}" class="startDate" id="chEndDate" (ionChange)="changeEndMinDateTime()"></ion-datetime>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="12" style="height: 110px;" ></ion-col>

        </ion-row>
        <ion-row justify-content-center align-items-center style="height: 90px">
          <ion-avatar class="module-border-wrap">
            <img src="../../assets/icon/Group49.png">
          </ion-avatar>
        </ion-row>
        <ion-row justify-content-center align-items-center>
          <label>Скільки ви готові заплатити?<br> Вкажіть ціну за виконання Вашого<br>завдання?</label>

        </ion-row>

        <ion-row justify-content-center align-items-center>
          <ion-text>
            <h1>Вкажіть ціну</h1>
          </ion-text>
        </ion-row>
        <ion-row justify-content-center align-items-center>
          <ion-item lines="none" class="addressInput" text-center>
              <ion-input type="number" class="moneyInp" id="chMoney" required="true"> </ion-input> <ion-label class="grn">ГРН</ion-label>
          </ion-item>
        </ion-row>

        <ion-row justify-content-center align-items-center>
          <ion-button expand="full" shape="round" (click)="onModal()" class="btnOrder">Далі</ion-button>
        </ion-row>
      </ion-grid>
    </ion-slide>

  </ion-slides>
</ion-content>
