<ion-content  (click)="hideMenu()">

  <ion-text class="pageTitle">
    <h1>Мої Завдання</h1>
  </ion-text>

  <ion-grid>
    <ion-row class="chTaskReg" justify-content-center align-items-center text-center="">
      <ion-col size="6" (click)="slideToWorker()"><p id="workerMenuItem">Виконувач</p></ion-col>
      <ion-col size="6" (click)="slideToTaskgiver()"><p id="taskgiverMenuItem">Замовник</p></ion-col>
    </ion-row>
  </ion-grid>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" >
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-slides #taskSlider id="taskSlider" [options]="this.slideOpts" scrollbar="false" pager="false">

    <ion-slide class="swiper-no-swiping">
      <ion-list id = "tasksInProgress">
          <ion-item *ngFor="let task of taskArr2" class = "task" lines="none" (click)="reRouteOnFullInfoJob($event)">
            <ion-grid>
              <ion-row class="topTask">
                <ion-row>
                  <ion-col size="2">
                    <ion-thumbnail>
                      <img src="../../assets/icon/cleaning.png">
                    </ion-thumbnail>
                  </ion-col>
                  <ion-col size="6">
                    <ion-label class="taskName"><b>{{task.type_full_task}}</b></ion-label>
                    <ion-label class="taskTakeDate">Отримано {{task.date_start_full_task}}</ion-label>
                  </ion-col>
                  <ion-col size="4">
                    <ion-label class="ion-text-wrap" style="padding: 10px 10px 0 0"><b>{{task.money_full_task}} грн.</b></ion-label>
                  </ion-col>
                </ion-row>
                <ion-row >
                  <ion-col size="12" style="align-self: flex-end">
                    <ion-item class="authorTask" lines="none">
                      <ion-label class="ion-text-wrap"><span> Замовник:</span> {{task.zakazchik}}</ion-label>
                      <ion-avatar>
                        <img src="../../assets/icon/zhytomyr.jpg">
                      </ion-avatar>
                      <ion-input name="nameTaskId" class="taskId" type="hidden" value="{{task.id_full_task_info}}"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-row>
              <ion-row class="bottomTask">
                <ion-col>
                  <ion-label>Виконати до: {{task.date_start_full_task}} | <b>{{task.date_end_full_task}}</b></ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide class="swiper-no-swiping">
      <ion-list id = "tasksgiverInProgress">
        <ion-item *ngFor="let task of MytaskArr" class = "task" lines="none" (click)="reRouteOnFullInfoJob($event)"><!--*ngFor="let task of taskArr2"-->
          <ion-grid>
            <ion-row class="topTask">
              <ion-row>
                <ion-col size="2">
                  <ion-thumbnail>
                    <img src="../../assets/icon/cleaning.png">
                  </ion-thumbnail>
                </ion-col>
                <ion-col size="6">
                  <ion-label class="taskName"><b>{{task.type_full_task}}</b></ion-label>
                  <ion-label class="taskTakeDate">Отримано {{task.date_start_full_task}}</ion-label>
                </ion-col>
                <ion-col size="4">
                  <ion-label class="ion-text-wrap" style="padding: 10px 10px 0 0"><b>{{task.money_full_task}} грн.</b></ion-label>
                </ion-col>
              </ion-row>
              <ion-row >
                <ion-col size="12" style="align-self: flex-end">
                  <ion-item class="authorTask" lines="none">
                    <ion-label class="ion-text-wrap"><span> Замовник:</span> {{task.zakazchik}}</ion-label>
                    <ion-avatar>
                      <img src="../../assets/icon/zhytomyr.jpg">
                    </ion-avatar>
                    <ion-input name="nameTaskId" class="taskId" type="hidden" value="{{task.id_full_task_info}}"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-row>
            <ion-row class="bottomTask">
              <ion-col>
                <ion-label>Виконати до: {{task.date_start_full_task}} | <b>{{task.date_end_full_task}}</b></ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-slide>
  </ion-slides>
</ion-content>

