@font-face {
  font-family: Montserrat-L;
  src: url("../../fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: Montserrat-BB;
  src: url("../../fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Montserrat-R;
  src: url("../../fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: Montserrat-B;
  src: url("../../fonts/Montserrat-SemiBold.ttf");
}
.pageTitle h1{
  margin: 40px 23px 23px 23px;
  font-family: Montserrat-BB, sans-serif;
  font-size: 25pt;
  color: #CBCBCB;
}
ion-content{
  --ion-background-color: #0e1319;
}


.task{
  --border-radius: 9px;
}
.taskName{
  font-family: Montserrat-B, sans-serif;
  font-size: 20pt;
}
.taskTakeDate{
  font-family: Montserrat-L, sans-serif;
  font-size: 11pt;
}

.task .topTask{
  color: white;
  --ion-font-family: Montserrat-R, sans-serif;
  border-radius: 9px 9px 0 0;
  background: rgba(226,115,19,1);
  background: -moz-linear-gradient(-45deg, rgba(226,115,19,1) 0%, rgba(224,141,17,1) 46%, rgba(221,166,15,1) 92%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(226,115,19,1)), color-stop(46%, rgba(224,141,17,1)), color-stop(92%, rgba(221,166,15,1)));
  background: -webkit-linear-gradient(-45deg, rgba(226,115,19,1) 0%, rgba(224,141,17,1) 46%, rgba(221,166,15,1) 92%);
  background: -o-linear-gradient(-45deg, rgba(226,115,19,1) 0%, rgba(224,141,17,1) 46%, rgba(221,166,15,1) 92%);
  background: -ms-linear-gradient(-45deg, rgba(226,115,19,1) 0%, rgba(224,141,17,1) 46%, rgba(221,166,15,1) 92%);
  background: linear-gradient(135deg, rgba(226,115,19,1) 0%, rgba(224,141,17,1) 46%, rgba(221,166,15,1) 92%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e27313', endColorstr='#dda60f', GradientType=1 );
}
.topTask ion-row ion-col:nth-child(3) b{
  margin-left: 58px;

}
.topTask ion-row ion-col:nth-child(3) ion-label{
  text-align: right;
}

.bottomTask{
  color:white;
  background: rgb(218, 66, 66);
  border-radius:0 0 9px 9px;
}

.bottomTask ion-label{
  margin-left: 10px
}

.authorTask{
  color: white;
  --ion-background-color: none;
  --ion-border-style: none;
 font-size: 9pt;
  border: none;
  margin-left: 74px;
}

.authorTask ion-label{
  font-family: Montserrat-L, sans-serif;
  --ion-font-size: 9pt;
  margin-right: 15px;
}

ion-list{
  background: none;
}

.authorTask span{
  font-family: Montserrat-B, sans-serif;
}
#workerMenuItem{
  color: #CBCBCB;
}
#taskgiverMenuItem{
  color: grey;
}
.chTaskReg{
  color: #CBCBCB;
  font-family: Montserrat-R, sans-serif;
}

