<ion-header>
  <ion-toolbar>
    <ion-title>Сhoose your country</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list (click)="modalDismiss($event)">
    <ion-item *ngFor="let item of country" id="{{item.flag}}">
      <ion-label >{{item.name}}</ion-label>
      <ion-label slot="end">+{{item.callingCodes}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
