<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" style="height: 110px;" ></ion-col>

    </ion-row>
    <ion-row justify-content-center align-items-center style="height: 90px">
      <ion-avatar class="module-border-wrap">
        <img src="../../assets/icon/Group50.png">
      </ion-avatar>
    </ion-row>
    <ion-row justify-content-center align-items-center text-center>
      <label> Перевірте дані та зарезервуйте<br>кошти за виконання</label>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
    </ion-row>
    <ion-row justify-content-center align-items-center>
      <ion-col>
        <ion-item lines="none" class="fullTaskInfo">
          <ion-textarea rows="9" cols="50" placeholder="Опишіть подробніше ваше завдання..." id="chAboutt"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-text padding-start="30px" class="timeStampText">
        <h1>Час:</h1>
      </ion-text>
    </ion-row>
    <ion-row>
      <ion-text  class="timeStampText montserratRegular">
        <ion-label id="chDate"></ion-label> <ion-label id="chTime"></ion-label>
        <ion-label id="chEndDatee">01-01-2001</ion-label> <ion-label id="chEndTimee">00:00</ion-label>
      </ion-text>
    </ion-row>
    <ion-row>
      <ion-text padding-start="30px" class="timeStampText">
        <h1>Адрес:</h1>
      </ion-text>
    </ion-row>
    <ion-row>
      <div id="map_canvas_add_task_modal"></div>
    </ion-row>
    <ion-row>
      <ion-text  class="timeStampText montserratRegular">
        <ion-label id="chAddresss"></ion-label>
      </ion-text>
    </ion-row>
    <ion-row>
      <ion-text padding-start="30px" class="timeStampText">
        <h1>Оплата:</h1>
      </ion-text>
    </ion-row>
    <ion-row justify-content-center align-items-center>
      <ion-text class="timeStampText montserratRegular" text-center>
        <ion-label id="chMoneyy" text-center></ion-label> <ion-label class="grn" text-center>ГРН</ion-label>
      </ion-text>
    </ion-row>

    <ion-row justify-content-center align-items-center>
      <ion-button class="btnOrder" (click) ="sendMarkerDataOnServer()">Оформити</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
