@font-face {
  font-family: Montserrat-L;
  src: url("../../fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: Montserrat-BB;
  src: url("../../fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Montserrat-R;
  src: url("../../fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: Montserrat-B;
  src: url("../../fonts/Montserrat-SemiBold.ttf");
}
.pageTitle h1{
  margin: 40px 23px 23px 23px;
  font-family: Montserrat-BB, sans-serif;
  font-size: 25pt;
  color: #CBCBCB;
}

.pageTitle h2{
  margin: 40px 23px 23px 23px;
  font-family: Montserrat-B, sans-serif;
  font-size: 20pt;
  color: #CBCBCB;
}
ion-content{
  --ion-background-color: #0e1319;
}
.task{
  background: white;
  border-radius: 10px;
  margin-bottom: 15px;
}

.btnVal{
  --background: white;
}

.task ion-img{
  height: 120px;
}

.itemTitle{
  font-family: Montserrat-BB, sans-serif;
  font-size: 15pt;
}

.buyBtn{
  font-family: Montserrat-B, sans-serif;
  --background: #E7E7E7 ;
  color: #0d1219;
  height: 30px;
}
