<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-text class="pageTitle">
    <h1>Магазин подарунків</h1>
    <h2>У вас <u>{{sum}}</u> B-coin'ів</h2>
  </ion-text>

  <ion-list id = "tasksInProgress">
    <ion-item *ngFor="let lot of lotsArr" lines="none">
      <ion-grid class="task" >
        <ion-row>
          <ion-col size="4">
            <ion-img src="../../assets/icon/{{lot.item_img}}"></ion-img>
          </ion-col>
          <ion-col size="8">
            <ion-label class="itemTitle">{{lot.item_name}}</ion-label><br>
            <ion-label class="itemTitle"><b>{{lot.item_price}}</b>B</ion-label><br>
            <ion-item class="btnVal" (click)="getBuyInfo($event)" lines="none" >
              <ion-button class="buyBtn" >Придбати</ion-button>
              <ion-input name="idLot" class="lotID" type="hidden" value="{{lot.id_item}}"></ion-input>
            </ion-item>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-text class="pageTitle">
    <h2>Придбані</h2>
  </ion-text>

  <ion-list id = "tasksDone">
    <ion-item *ngFor="let lot of boughtLotsArr" lines="none">
      <ion-grid class="task" >
        <ion-row>
          <ion-col size="4">
            <ion-img src="../../assets/icon/{{lot.item_img}}"></ion-img>
          </ion-col>
          <ion-col size="8">
            <ion-label class="itemTitle">{{lot.item_name}}</ion-label><br>
            <ion-label class="itemTitle"><b>{{lot.item_price}}</b>B</ion-label><br>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
-->
</ion-content>
