@font-face {
  font-family: "Font Awesome Regular";
  src: url("../../fonts/FontAwesome5Free-Regular-400.otf");
}

@font-face {
  font-family: "Font Awesome Solid";
  src: url("../../fonts/FontAwesome5Free-Solid-900.otf");
}

ion-col{
  color: white;
}
.proposerRang{
  position: absolute;
  --padding-top: 4px;
  bottom: 17px;
  right: 10px;
  border: white 3px solid;
  border-radius: 31px;
  border-radius: 31px;
  height: 28px;
  box-shadow: 0px 6px 11px -5px rgba(15, 15, 15, 0.69);
}

ion-textarea{
  border-radius: 20px;
  --background: #535353;
}

.backAvatar{
  background: url("../../../src/assets/images/about/Polygon18.svg") no-repeat;
  background-size: cover;
}

ion-avatar{
  width: 100px;
  height: 100px;
  padding: 25px 25px 25px 27px;
  background: url("../../../src/assets/images/about/Polygon18.svg") no-repeat;
  background-size: cover;
}

ion-avatar img{
  box-shadow: 0px 6px 11px -5px rgba(15, 15, 15, 0.69);
}

span{
  font-size: 20pt;
}

.btnIcn[shape="round"]{
  width: 50px;
  height: 50px;
  --background: #464646;
  font-family: 'Font Awesome Solid', sans-serif;
  text-transform: none;
}
ion-button{
  height: 50px;
  --background: #EB9817 ;
}

#proposerPrice{
  font-family: "Montserrat-R", sans-serif;
}


