<ion-content>
  <ion-grid no-padding>
    <ion-row justify-content-center align-items-center>

      <ion-col size="9" id="proposerName" padding-start>
        <span>Денис Любченко</span><br>
        <span id="proposerPrice">2000</span> грн
      </ion-col>
      <ion-col size="3" no-padding>
        <ion-avatar>
          <img id="proposerAvatar" src="https://randomuser.me/api/portraits/women/59.jpg" alt="avatar">
          <ion-badge color="success" class="proposerRang">44</ion-badge>
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-textarea rows="5" cols="50" spellcheck="true" margin disabled></ion-textarea>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-button shape="round" margin-start>Прийняти</ion-button>
      </ion-col>
      <ion-col size="4">

      </ion-col>
      <ion-col size="2">
        <ion-button class="btnIcn" shape="round"></ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button class="btnIcn" shape="round"></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
