
<ion-content>
  <ion-text class="pageTitle">
    <h1>Завдання від</h1>
  </ion-text>

  <ion-grid>
    <ion-row class="taskGiverInfoLine">
      <ion-col size="3" style="align-self: center;">
        <ion-avatar id="taskgiverAvatar">
          <img src="../../assets/icon/zhytomyr.jpg">
        </ion-avatar>
      </ion-col>
      <ion-col size="7" padding-start="15px" padding-top="20px"  style="line-height: 16px">
        <ion-label id="taskgiverName">{{name_auth}}</ion-label><br>
        <ion-label id="taskgiverTrust"><b>Довіра: <u>100%</u></b></ion-label><br>
        <ion-label id="taskgiverOld">На сервісі з: <u><b>24.05.2018</b></u></ion-label><br>
      </ion-col>
    </ion-row>
    <ion-row style="align-items: center">
      <ion-col size="6">
        <ion-item lines="none">
          <ion-avatar>
            <img src="../../assets/icon/task_name.png">
          </ion-avatar>
          <ion-label color="white" class="taskInfo">{{task_name}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-thumbnail style="height: 32px">
            <img src="../../assets/icon/money-bill-wave-solid.png">
          </ion-thumbnail>
          <ion-label color="white" class="taskInfo">{{price}} UAH</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-text class="makeToDate">
          <h4><b>Виконати до:</b></h4>
        </ion-text>
        </ion-col>
    </ion-row>

    <ion-row style="align-items: flex-end; justify-content: center">
      <ion-col size="6">
        <ion-item lines="none">
        <ion-thumbnail style="height: 30px">
          <img src="../../assets/icon/calendar.png" style="height: 30px; width: 27px;">
        </ion-thumbnail>
          <ion-label color="white" style="font-size: 13pt" class="taskInfoWhen ion-text-wrap"><u>{{task_start_date}}</u></ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item lines="none">
        <ion-thumbnail style="height: 30px">
          <img src="../../assets/icon/clock-regular.png" style="height: 30px; width: 30px;">
        </ion-thumbnail>
        <ion-label color="white" class="taskInfoWhen"><u>{{task_start_time}}</u></ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-text class="taskTitle">
          <h3><b>Задание:</b></h3>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row style="align-items: center" >
      <ion-col size="12">
        <ion-text class="taskDescription">
          <p>{{full_task_inf}}</p>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-text class="taskTitle">
          <h3><b>Адресса:</b></h3>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-text class="taskTitle">
          <h3><b>Звязок з замовником:</b></h3>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row padding-start="15px">
      <ion-col size="5">
        <ion-text class="taskGiverContact">
          <p>+380634006094</p>
        </ion-text>
      </ion-col>

      <ion-col size="6" >
        <ion-text class="taskGiverEmail">
          <p>rikindenis@Gmail.com</p>
        </ion-text>
      </ion-col>

    </ion-row>


   <!-- <ion-row>
      <ion-col size="12">
        <ion-text class="taskTitle">
          <h3><b>Отчётность:</b></h3>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row id="repStories">
      <ion-col size="3" class="storie" color="medium">
        <ion-icon name="add" color="light"></ion-icon>
      </ion-col>
    </ion-row>
    -->

    <ion-row style="align-self: center">
      <ion-col size="12" style="align-self: center; margin-bottom: 65px">
        <ion-button expand="full" shape="round" id="doneBtn" (click)="taketask()">Почати</ion-button>
      </ion-col>
    </ion-row>


  </ion-grid>


</ion-content>
