@font-face {
  font-family: Montserrat-L;
  src: url("../../fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: Montserrat-BB;
  src: url("../../fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Montserrat-R;
  src: url("../../fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: Montserrat-B;
  src: url("../../fonts/Montserrat-SemiBold.ttf");
}
.pageTitle h1{
  margin: 40px 23px 23px 23px;
  font-family: Montserrat-BB, sans-serif;
  font-size: 30pt !important;
  color: #CBCBCB;
}
ion-content{
  --ion-background-color: #0e1319;
}
ion-label{
  font-family: Montserrat-L, sans-serif;
  font-size: 11pt !important;
  color: white !important;
  --ion-color-base: white;
}

.taskInfo{
  font-family: Montserrat-R, sans-serif;
  margin-left: 10px;
}
.taskInfoWhen{
  font-family: Montserrat-R, sans-serif;
  font-size: 14pt;
}

.taskTitle h3{
  font-family: Montserrat-BB, sans-serif;
  font-size: 20pt;
  color: #e0a313;
  margin-left: 15px;
  margin-bottom: 0;
}

.taskDescription p{
  font-family: Montserrat-R, sans-serif;
  color: #cacaca;
  font-size: 12pt;
  margin-left: 15px;
}

.makeToDate{
  font-family: Montserrat-B, sans-serif;
  color: #e0a313;
}
.makeToDate h4{
  font-size: 14pt;
  margin-left: 15px;
}

ion-thumbnail img {
  width: 45px;
  height: 30px;
}

#taskgiverName{
  color: #e2a413 !important;
  font-size: 18pt !important;
  font-family: Montserrat-BB, sans-serif;
}

#taskgiverTrust{
  font-size: 10pt !important;
  font-family: Montserrat-L, sans-serif;

}
#taskgiverOld{
  font-size: 8pt !important;
  font-family: Montserrat-L, sans-serif;

}

#taskgiverAvatar{
  width: 70px;
  height: 70px;
  border: 6px solid #cecece;
  margin-left: 15px;
  box-shadow: 0px 7px 6px 0px rgba(0,0,0,0.5);
}
.taskGiverContact, .taskGiverEmail{
  color: #cacaca;
  font-size: 9pt !important;
  font-family: Montserrat-R, sans-serif;
}
.taskGiverContact p:before{
  color: #e0a313;
  font-size: 13pt !important;
  content: '  ';
  font-family: "Font Awesome", sans-serif;
}

.taskGiverEmail p:before{
  color: #e0a313;
  font-size: 13pt !important;
  content: '  ';
  font-family: "Font Awesome", sans-serif;
}

.taskGiverInfoLine{
  max-width: 400px;
  height: 90px;
  width: 90%;
  margin-left: 20px;
  border-radius: 50px;
  background-color: #2a2a2a;
  box-shadow: 0px 7px 6px 0px rgba(0,0,0,0.5);
}

#doneBtn{
  height: 55px;
  font-family: Montserrat-B, sans-serif;
}

.alertBee{
  top: 30vh;
  align-items: center;
  position: absolute;
  width: 70vw;
  background: #232528;
  z-index: 1000;
  left: 14vw;
  border-radius: 20px;
}

.prompt_alert h2{
  font-family: Montserrat-B, sans-serif;
  text-align: center;
  color: #DDDDDD;
  margin-bottom: 0;
}

#alert-1-msg > ion-grid > ion-row > ion-col:nth-child(5) > ion-text > h5{
  font-family: Montserrat-L, sans-serif;
  text-align: center;
  color: #DDDDDD;
  font-size: 12px !important;
}

.prompt_alert ion-button{
  font-family: Montserrat-R, sans-serif;
  --border-radius: 14px;
  height: 42px;
}


#code{
  margin-left: 18vw;
  border: 0;
  font-family: Montserrat-B, sans-serif !important;
  --color: white;
  --placeholder-color: grey;
  --placeholder-opacity: 1;
  font-size: 30px;
  --padding-start: 10px;
  --padding-top: 0px;
  --padding-bottom: 5px;
}
.prompt_alert {
 --min-height: 100vh;
}
.repStories{
  padding-left: 20px;
}

.storie{
  font-size: 37px;
  padding: 25px;
  height: 85px;
  background-color: #2a2a2a;
  border-radius: 30%;
}


