@font-face {
  font-family: "Font Awesome Regular";
  src: url("../../fonts/FontAwesome5Free-Regular-400.otf");
}

@font-face {
  font-family: "Font Awesome Solid";
  src: url("../../fonts/FontAwesome5Free-Solid-900.otf");
}
@font-face {
  font-family: Montserrat-R;
  src: url("../../fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: Montserrat-RL;
  src: url("../../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Montserrat-L;
  src: url("../../fonts/Montserrat-Light.ttf");
}
@font-face {
  font-family: Montserrat-B;
  src: url("../../fonts/Montserrat-Bold.ttf");
}


.taskPageHeader{
  padding: 0;
  width: 100%;
  height: 285px;
  background: url("../../../src/assets/images/about/Group71.png") no-repeat;
  background-size: cover;
}

.userIcon{
  margin-top: 20px;
  font-size: 40pt !important;
  color: white;
}

.noWorker{
  color: white;
  font-family: Montserrat-B, sans-serif;
  font-size: 15pt !important;

}

ion-item{
  --background: none;
}

ion-badge{
  border-radius: 16px;
  margin-left: -15px;
  margin-top: -18px;
  width: 20px;
}

 ion-toolbar{
  --background: rgba(255, 255, 255, 0);
   --box-shadow: none;
   --border-width: 0;
   --border-color: rgba(255, 255, 255, 0);
 }
ion-header{
  padding-top: 20px;
 position: absolute;
}

.header-md:after {
  background-image: none;
}

ion-content{
  font-family: Montserrat-RL, sans-serif;
}

ion-card{
  opacity: 0;
  --background: #161A23;
  --color: #FFFFFF;
  border-radius: 20px;
}

.chat-item.ng-enter {
  -webkit-animation: fadeInLeft 1s;
  animation: fadeInLeft 1s;
}

ion-card-title{
  font-family: Montserrat-R, sans-serif;
  --color: white;
  text-align: center;
}

ion-card-header{
  border-bottom: 1px solid rgba(131, 131, 131, 0.5);
}

.fa-icon{
  font-family:  "Font Awesome Regular", sans-serif;
  font-size: 23px;
}

.fa-icon-solid{
  font-family:  "Font Awesome Solid", sans-serif;
  font-size: 23px;
}

.firstCardText{
  font-family: Montserrat-R, sans-serif;
  font-size: 16px;

}
.firstCardText-value{
  font-size: 10px;
}
ion-avatar{
  margin-top: 25px;
  margin-left: 28px;
  box-shadow: 2px 4px 7px -3px rgba(0,0,0,0.46);
}

.taskGiverName{
  color: white;
  font-size: 24pt;
  font-family: Montserrat-B, sans-serif;

}

.backAvatar{
  background: url("../../../src/assets/images/about/Polygon18.svg") no-repeat;
}

.btnOrder{
  margin: 20px;
  --border-radius: 50px;

  height: 50px;
}

#map_canvas_about{
  margin-top: 15px;
  position: relative;
  width: 100%;
  height: 180px;
  box-shadow: 0px 6px 15px 3px rgba(0,0,0,0.75);
  border-radius: 20px;
}
