<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="dark" (click)="presentActionSheet()">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid class="taskPageHeader" style="display: none">
    <ion-row class="ion-justify-content-center ion-align-items-end" style="height: 145px">
      <ion-col class="backAvatar ion-justify-content-center ion-align-items-end" size="4" style="height: 110px; margin-bottom: 5px">
        <ion-avatar >
        <img src="https://randomuser.me/api/portraits/women/59.jpg">
      </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center ion-text-center">
      <ion-label text-center>Замовник</ion-label><br>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center ion-text-center">
      <ion-label text-center class="taskGiverName">{{name_auth}}</ion-label>
    </ion-row>
  </ion-grid>

  <ion-grid class="taskPageHeader">
    <ion-row class="ion-justify-content-center ion-align-items-end" style="height: 160px">
      <ion-col class="ion-justify-content-center" size="4" style="margin-bottom: 5px" text-center>
        <ion-label class="userIcon fa-icon-solid" text-center></ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center ion-text-center">
      <ion-label text-center class="noWorker">Поки що не має виконавця</ion-label><br>
    </ion-row>
  </ion-grid>


  <ion-card class="animated">
    <ion-card-header>
      <ion-card-title>{{task_name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col text-center>
          <ion-label class="fa-icon"></ion-label>
        </ion-col>
        <ion-col text-center>
          <ion-label class="fa-icon"></ion-label>
        </ion-col>
        <ion-col text-center>
          <ion-label class="fa-icon-solid"></ion-label>
        </ion-col>
        <ion-col text-center>
          <ion-label class="fa-icon-solid"></ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <ion-datetime id="taskDate" class="firstCardText" displayFormat="DD.MM" value="{{task_start_date}}"></ion-datetime>
        </ion-col>
        <ion-col class="firstCardText" text-center>
          <ion-datetime id="taskTime" class="firstCardText" displayFormat="HH:mm" value="{{task_start_time}}"></ion-datetime>
        </ion-col>
        <ion-col text-center>
          <ion-label id="taskMoney" class="firstCardText" >{{price}}</ion-label>
          <ion-label class="firstCardText-value" > грн.</ion-label>
        </ion-col>
        <ion-col text-center>
          <ion-label id="taskPeople" class="firstCardText" >{{howMuch}}</ion-label>
          <ion-label class="firstCardText-value" > {{people}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class="animated">
    <ion-card-content>
      <ion-item lines="none" >
        <ion-icon name="eye" color="light" style="font-size: 40pt"></ion-icon>
        <ion-badge color="warning">0</ion-badge>
        <ion-label color="light" style="font-size: 12pt; margin-left: 15px" (click)="goToProposes()"><b>Переглянути пропозиції</b></ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

    <ion-card class="animated">
        <ion-card-header>
            <ion-card-title>Опис завдання</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-text class="ion-text-justify" style="display: inline-block;" padding-top="10px">
              {{full_task_inf}}
            </ion-text>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Адресса</ion-card-title>
        </ion-card-header>

        <ion-card-content>
              <div id="map_canvas_about" (click)="onModalLookLocationTask()"></div>
        </ion-card-content>
    </ion-card>
  <ion-row justify-content-center align-items-center>
    <ion-button expand="full" shape="round" class="btnOrder" (click)="onModal()">Надіслати пропозицію</ion-button>
  </ion-row>
</ion-content>
