@font-face {
  font-family: "Font Awesome";
  src: url("../../fonts/FontAwesome5Free-Solid-900.otf");
}

ion-tab-button{
  position: absolute;
  color: #90a4ae;
  height: 60px;
}

#tabs{
  transition: margin-bottom 1s;
  margin: 0;
}
.close-icon, ::slotted(ion-icon){
  font-size: 40px !important;
}
#addTaskBTN {
  --border-radius: 30px;
  font-family: 'Font Awesome', sans-serif;
  font-size: 20pt;
}

#backBTN{
  --border-radius: 30px;
  font-family: 'Font Awesome', sans-serif;
}
.map-icon{
   content: url('../../assets/icon/map-marked-solid.svg') !important;;
 }
.job-icon{
  content: url('../../assets/icon/briefcase-solid.svg') !important;;
}

.account-icon{
  content: url('../../assets/icon/user-solid.svg') !important;;
}

.more-icon{
  content: url('../../assets/icon/bars-solid.svg') !important;;
}

.message-icon{
  content: url('../../assets/icon/comment-solid.svg') !important;;
}
.add-icon{
  content: url('../../assets/icon/plus-circle-solid.svg') !important;;
}
.mainBtnCircle{
  font-family:  "Font Awesome", sans-serif;
  color: white;
}


#backMenu{
  //background: url(../../assets/icon/Subtraction1.png) no-repeat;
  background: url(../../assets/icon/RepeatGrid5.svg) no-repeat;
  background-size: cover ;
  position: absolute;
  z-index: 300;
  bottom: -150px;
  height: 140px;
  width: 100%;
}

.Menu{
  position: absolute;
  z-index: 320;
  bottom: -200px;
  left: 40.6vw;
  height: 125px;
  width: 95%;
}
ion-tab-button{
  width: 75px;
  --ripple-color: transparent;
}
ion-tab-button ion-label{
  font-size: 8pt;
}
