<ion-fab vertical="bottom" horizontal="center" style="bottom: 2vh">
  <ion-fab-button class="closed" id="menuBTN" (click)="mainMenu()">
      <ion-label class="mainBtnCircle"></ion-label>
  </ion-fab-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="center" style="bottom: 2vh; left: 36vw;">
  <ion-fab-button id = 'backBTN' (click)="locSelMode()" class="tab-item" size="small" color="medium" hidden>
      <ion-label style="margin-right: 4px;margin-top: 2px;"></ion-label>
  </ion-fab-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="center" style="bottom: 2vh">
<ion-fab-button id = 'addTaskBTN' (click)="next()" class="tab-item" hidden>
  <ion-label></ion-label>
</ion-fab-button>
</ion-fab>



<ion-tabs>
<ion-row class="Menu closed" align-items-center>
    <ion-tab-button  tab="tab2" (click)="mainMenu()">
      <ion-icon  class="map-icon"  ></ion-icon>
      <ion-label>Карта</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab1">
      <ion-icon class="job-icon"  (click)="mainMenu()" ></ion-icon>
      <ion-label text-center>Мої<br>завдання</ion-label>
    </ion-tab-button>

    <ion-tab-button id="goToLocSelBTN" (click)="addTaskItem()">
      <ion-icon class="add-icon"></ion-icon>
      <ion-label>Додати</ion-label>
    </ion-tab-button>

    <ion-tab-button  (click)="profileItem()">
      <ion-icon class="account-icon"  (click)="profileItem()"></ion-icon>
      <ion-label>Профіль</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon class="more-icon"  (click)="mainMenu()"></ion-icon>
      <ion-label>Ще</ion-label>
    </ion-tab-button>

      </ion-row>
          <ion-row  justify-content-center align-items-center>
          <ion-col size="12" id="backMenu"></ion-col>
      </ion-row>
</ion-tabs>


