<ion-header>
</ion-header>

<ion-content class="home">
  <ion-grid class="home-login-input-col" no-padding>
    <ion-row class="home-login-input-col" >
      <ion-col size="12" class="step-indicators" text-center>
        <ion-icon name="radio-button-on"></ion-icon>
        <ion-icon name="radio-button-off"></ion-icon>
        <ion-icon name="radio-button-off"></ion-icon>
        <h5 (click)="getGeolocation()">Ім'я</h5>
        <p>Давайте познайомимося!<br>Як вас звати?</p>
      </ion-col>

      <ion-col size="12" class="home-login-input-col" no-padding>
        <div class="home-login-input-wrapper">
          <ion-item>
            <ion-input class="home-login-input" type="text" placeholder="Ім'я" id="nameUser"></ion-input>
          </ion-item>
          <ion-button class="home-login-btn-g" (click)="facebook()"><ion-icon name="logo-facebook"></ion-icon></ion-button>
          <ion-button class="home-login-btn-g" (click)="google()"><ion-icon name="logo-google"></ion-icon></ion-button>
          <ion-button class="home-login-btn" id="nextBtn" style="width: 80%" (click)="next()">Далі</ion-button>

        
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
