
.home {
    --background: linear-gradient(-45deg,#0f1116 0%,#323035 100%);
  ;
    --offset-top: 0;
    --padding-start: 0;
  }
  
  // .home-logo{
  //     width: 35%;
  //     padding-top: 28px;
  // }
  .home-login-input-col{
    font-family: 'Montserrat', sans-serif !important;
    color: white;
  }
  .step-indicators{
    padding-top: 20vh;
  }
  .step-indicators ion-icon{
    margin-right: 10px;
    font-size: 22px;
    color: #df901c;
  }
  .step-indicators h5{
    font-size: 24px;
    margin-bottom: 0;
  
  }
  .step-indicators p{
    margin-top: 7px;
    font-size: 14px;
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .home-login-input-wrapper{
    width: 80%;
    padding-left: 20%;
  }
  .home-login-input{
    border: 0;
    font-family: 'Montserrat', sans-serif !important;
    --color: white;
    --placeholder-color: grey;
    --placeholder-opacity: 1;
    font-size: 17px;
    --padding-start: 10px;
    --padding-top: 15px;
    --padding-bottom: 15px;
  }
  .home-login-input:first-child {
    text-align: left;
    --padding-top: 20px;
    border-bottom: 2px;
  }
  .home-login-btn-g{
    position: relative;
    top: 20px;
    left: 0;
    z-index: 2;
    --border-radius: 50px;
    --padding-start: 12px;
    --padding-end: 12px;
    --padding-top: 5px;
    --padding-bottom: 5px;
    --box-shadow: 0px 10px 10px 0px rgba(1, 1, 1, .1);
    --background: linear-gradient(-45deg,#4d5055 0%,#3a3d44 100%);
    --background-activated: linear-gradient(-45deg,#4d5055 0%,#3a3d44 100%);
  
  }
  ion-item{
    --inner-border-width: 0px;
}
  .home-login-btn{
    position: relative;
    top: 20px;
    left: 10%;
    z-index: 2;
    --border-radius: 50px;
    --padding-start: 25px;
    --padding-end: 25px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --box-shadow: 0px 10px 10px 0px rgba(1, 1, 1, .1);
    --background: linear-gradient(-45deg,#ff7104 0%,#ffb92c 100%);
    --background-activated: linear-gradient(-45deg,#ff7104 0%,#ffb92c 100%);
  
  }
  .home-login-btn-icon{
    font-size: 42px;
  }



  ion-item{
    --background: transparent;
  }
