<ion-header>
</ion-header>

<ion-content class="home">
  <ion-grid class="home-login-input-col">
    <ion-row class="home-login-input-col" >
      <ion-col size="12" class="step-indicators" text-center>
        <ion-icon name="radio-button-off"></ion-icon>
        <ion-icon name="radio-button-on"></ion-icon>
        <ion-icon name="radio-button-off"></ion-icon>
        <h5 (click)="getGeolocation()">Email</h5>
        <p>Введіть ваш діючий email для входу у систему</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-input type="email" id="clientEmail" style="border-bottom: 2px solid"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row></ion-row>
    <ion-row>
      <ion-col size="6" offset="3">
          <ion-button class="home-login-btn" style="width: 100%" (click)="next()">Далі</ion-button>
      </ion-col>

    </ion-row>


    <ion-row align-items-center >
      <ion-col size="12">
        <ion-item>
          <ion-label class="orText"  style="color: white; text-align: center"><b>або</b></ion-label>
        </ion-item>
      </ion-col>

    </ion-row>



    <ion-row style="padding-top: 35px">
      <ion-col align-self-center size="10" offset="1">
        <ion-item style="vertical-align: middle;">
          <ion-button id="changeLoginBtn"  style="width: 100%" (click)="phoneLogin()">За номером телефона</ion-button>
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
