
@font-face {
  font-family: Montserrat-BB;
  src: url("../../fonts/Montserrat-Bold.ttf");
}

.home {
  --background: linear-gradient(-45deg,#0f1116 0%,#323035 100%);
;
  --offset-top: 0;
  --padding-start: 0;
}

// .home-logo{
//     width: 35%;
//     padding-top: 28px;
// }
.home-login-input-col{
  font-family: 'Montserrat', sans-serif !important;
  color: white;
}
.step-indicators{
  padding-top: 20vh;
}
.step-indicators ion-icon{
  margin-right: 10px;
  font-size: 22px;
  color: #df901c;
}
.step-indicators h5{
  font-size: 24px;
  margin-bottom: 0px;

}
.step-indicators p{
  margin-top: 7px;
  font-size: 14px;
  padding-left: 10vw;
  padding-right: 10vw;
}
.home-login-input-wrapper{
  width: 80%;
  padding-left: 20%;
}
.home-login-input{
  border: 0;
  font-family: 'Montserrat', sans-serif !important;
  --color: white;
  --placeholder-color: white;
  --placeholder-opacity: 1;
  font-size: 17px;
  --padding-start: 10px;
  --padding-top: 15px;
  --padding-bottom: 15px;
}
.home-login-input:first-child {
  text-align: center;
  --padding-top: 20px;
  border-bottom: 2px solid #35353c;
}
.home-login-input-number-code{
  clear: left;
  font-size: 19px;
  width: 25%;
  padding: 0;
  --padding-start: 0px;
  border: 0;
  font-family: 'Montserrat', sans-serif !important;
}
.home-login-input-number{
  position: relative;
  font-size: 19px;
  width: 75%;
  top: -50px;
  right: -25%;
}

.home-login-input-number-code::after{
  content: '';
  position: absolute;
  right: 0;
  width: 2px;
  height: 30px;
  background-color: #35353c;

}
ion-item{
  --inner-border-width: 0px;
}
.icon-drop{
  position: absolute;
  right: 0;
  padding-top: 10px;
}
.home-login-input:nth-child(2) {
  --padding-bottom: 20px;
}
.home-login-btn{
  z-index: 2;
  --border-radius: 50px;
  --padding-start: 25px;
  --padding-end: 25px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --box-shadow: 0px 10px 10px 0px rgba(1, 1, 1, .1);
  --background: linear-gradient(-45deg,#ff7104 0%,#ffb92c 100%);
  --background-activated: linear-gradient(-45deg,#ff7104 0%,#ffb92c 100%);
  margin-top: 4vh;
  margin-bottom: 6vh;
}
.home-login-btn-icon{
  font-size: 42px;
}
.iconFlag{
  width: 30px;
  height: 20px;
}
ion-item{
  --background: transparent;
}

.orText{
  font-family: Montserrat-BB, sans-serif;
  font-size: 20pt;
}
#changeLoginBtn{
  height: 50px;
  --border-radius: 30px;
  --background: #2a2a2a;
}
