<ion-header>
</ion-header>

<ion-content class="home">
  <ion-grid class="home-login-input-col" no-padding>
    <ion-row class="home-login-input-col" >
      <ion-col size="12" class="step-indicators" text-center>
        <ion-icon name="radio-button-off"></ion-icon>
        <ion-icon name="radio-button-on"></ion-icon>
        <ion-icon name="radio-button-off"></ion-icon>
        <h5 (click)="getGeolocation()">Телефон</h5>
        <p>Введіть ваш діючий номер телефону для входу у систему</p>
      </ion-col>

      <ion-col size="12" class="home-login-input-col" no-padding>
        <div class="home-login-input-wrapper">
          <ion-item (click)="onModal()">
            <ion-img src="{{countryFlag}}" class="iconFlag"></ion-img>
            <ion-input class="home-login-input" type="text" value="   {{countryName}}" readonly><ion-icon class="icon-drop" name="arrow-dropdown"></ion-icon></ion-input>
          </ion-item>
          <div class="number">
            <ion-input class="home-login-input-number-code" type="text" value="{{countryNumber}}" readonly></ion-input>
            <ion-input class="home-login-input home-login-input-number" value="" id="numberPhone" type="number"></ion-input>
          </div>
          <ion-button class="home-login-btn" style="width: 80%" (click)="next()">Далі</ion-button>
        </div>
      </ion-col>

    </ion-row>


    <ion-row align-items-center >
      <ion-col>
        <ion-item>
          <ion-label class="orText"  style="color: white; text-align: center "><b>або</b></ion-label>
        </ion-item>
      </ion-col>

    </ion-row>


    <ion-row style="padding-top: 35px">
      <ion-col align-self-center size="10" offset="1">
        <ion-item style="vertical-align: middle;">
          <ion-button id="changeLoginBtn"  style="width: 100%" (click)="emailLogin()">За Email</ion-button>
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
