<ion-header>
</ion-header>

<ion-content class="home">
  <ion-grid class="home-login-input-col" no-padding>
    <ion-row class="home-login-input-col" >
      <ion-col size="12" class="step-indicators" text-center>
        <ion-icon name="radio-button-off"></ion-icon>
        <ion-icon name="radio-button-off"></ion-icon>
        <ion-icon name="radio-button-on"></ion-icon>
        <h5 (click)="getGeolocation()">Код-пароль</h5>
        <p>Введіть код з СМС повідомлення чи пошти, щоб закінчити авторизацію</p>
      </ion-col>
    </ion-row>
    <ion-row class="home-login-input-col" >
      <ion-col size="12" class="home-login-input-col" no-padding>
        <div class="home-login-input-wrapper">
          <ion-item>
            <ion-input class="home-login-input" id="code" type="text" placeholder="* * * *" maxlength="4" required="true"></ion-input>
          </ion-item>
          <ion-button class="home-login-btn" style="width: 100%" (click)="next()">Далі</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
