ion-content{
  --ion-background-color: #0e1319;
}
@font-face {
  font-family: Montserrat-L;
  src: url("../../fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: Montserrat-BB;
  src: url("../../fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Montserrat-R;
  src: url("../../fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: Montserrat-B;
  src: url("../../fonts/Montserrat-SemiBold.ttf");
}

ion-content{
  margin: 15px;
  padding: 15px;
}

.alText{
  font-family: Montserrat-R, sans-serif;
  margin: 20px;
  text-align: center;
  color:white
}

.warn{
margin-left: 28vw;
margin-top: 10vh;
}

.allBtn{
  margin-left: 28vw;
  height: 50px;
  --border-radius: 30px;
  --box-shadow: 0px 10px 10px 0px rgba(1, 1, 1, .1);
  --background: linear-gradient(-45deg,#ff7104 0%,#ffb92c 100%);
  --background-activated: linear-gradient(-45deg,#ff7104 0%,#ffb92c 100%);
}

