<ion-content>


  <ion-item>
      <ion-img class="warn" src="../../assets/icon/exclamation-triangle-solid.png"></ion-img>
  </ion-item>
  <ion-text class="alText" style="">
    <h1>Увага!</h1>
    <p style="margin: 15px;">
      Погоджуючись з даною умовою, ви підтверджуєте
      розуміння, що данна версія додатку є тестовою
      і розроблювалося спеціально
      під потреби "Майстрня Міста-2019"
      в м. Житомирі. Весь наявний в цьому
      додатку функціонал не є відображенням
      фінального продукту.
      В додатку наявні помилки, тому якщо
      у вас виникли деякі проблеми з роботою
      додатку, команда BeeWorker Team просить
      Вас написати відгук на електронну
      пошту:
    </p>
    <h3>info.beeworker@gmail.com</h3>

  </ion-text>
  <ion-button class="allBtn" (click)="next()">Погодитись</ion-button>
</ion-content>
