@font-face {
  font-family: Montserrat-B;
  src: url("../../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: Montserrat-R;
  src: url("../../fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: Montserrat-RL;
  src: url("../../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Montserrat-L;
  src: url("../../fonts/Montserrat-Light.ttf");
}
.taskPageHeaderDown{
  position: absolute;
  top:-90px;
  padding: 0;
  width: 100%;
  height: 340px;
  background-size: cover;
  background: url("../../../src/assets/images/propose/proposeHeaderDown.png") no-repeat;
}
.taskPageHeaderUp{
  padding: 0;
  width: 100%;
  height: 340px;
  background-size: cover;
  background: url("../../../src/assets/images/propose/proposeHeaderUp.png") no-repeat;
}

ion-toolbar{
  --background: rgba(255, 255, 255, 0);
  --box-shadow: none;
}
ion-header{
  padding-top: 20px;
  position: absolute;
}

.header-md:after {
  background-image: none;
}

h1, h2 {
  position: absolute;
  padding-left: 50px;
  margin: 0;
  font-family: Montserrat-R, sans-serif;
  color: white;
}
h1{
  top:160px;
}
h2{
  top:190px
}
ion-card{
  border-radius: 20px;
  background: #1D2127;
}
ion-textarea{
  border-radius: 20px;
  --background: #535353;
}
ion-button[shape="round"]{
  width: 80px;
  height: 40px;
  --background: #EB9817 ;
  font-family: 'Montserrat-R', sans-serif;
  text-transform: none;
}
.backAvatar{
  background: url("../../../src/assets/images/about/Polygon18.svg") no-repeat;
  background-size: cover;
}

.userInfo{
  font-size: 12pt;
}
ion-avatar{
  width: 100px;
  height: 100px;
  padding: 25px 25px 25px 27px;
  background: url("../../../src/assets/images/about/Polygon18.svg") no-repeat;
  background-size: cover;
}

ion-avatar img{
  box-shadow: 0px 6px 11px -5px rgba(15, 15, 15, 0.69);

}

ion-card-header{
  padding: 0 0 0 15px;
  border-radius: 15px;
  height: 60px;
}
.underProposerInfoText{
  font-family: 'Montserrat-L', sans-serif;
  font-size: 9pt;
  line-height: 1;
}
ion-card-content{
  padding: 0 0 10px;
}

ion-card-content ion-col{
  font-family: 'Montserrat-RL', sans-serif;
  color: white;
  letter-spacing: -0.5px;
  font-size: 15pt;
  line-height: 1.1;
}
.animHeader{
  opacity: 0;
}

.proposerRang{
  position: absolute;
  --padding-top: 4px;
  bottom: 17px;
  right: 10px;
  border: white 3px solid;
  border-radius: 31px;
  height: 28px;
  box-shadow: 0px 6px 11px -5px rgba(15, 15, 15, 0.69);
}
