<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="animHeader taskPageHeaderDown">
    <ion-grid class="animHeader taskPageHeaderUp">
      <h1 class="animHeader">Надійшло</h1>
       <h2 class="animHeader"> <span>5</span> пропозицій</h2>
    </ion-grid>
  </ion-grid>

  <ion-card style="margin-top: 300px; opacity: 0">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-card-content>

      <ion-grid no-padding>
        <ion-row justify-content-center align-items-center>
          <ion-col size="3" no-padding>
            <ion-avatar>
              <img id="proposerAvatar" src="https://randomuser.me/api/portraits/women/59.jpg" alt="avatar">
              <ion-badge color="success" class="proposerRang">44</ion-badge>
            </ion-avatar>
          </ion-col>
          <ion-col size="6" id="proposerName" padding-start>Денис Любченко</ion-col>
          <ion-col size="3" text-center><span id="proposerPrice">2000</span> грн</ion-col>
        </ion-row>
        <ion-row justify-content-center align-items-center style="margin-top: -10px">
          <ion-col size="3" text-center><span id="proposerDoneTasks">12</span><br><p class="underProposerInfoText">виконаних завдань</p></ion-col>
          <ion-col size="3" text-center><span id="proposerDoneTasksInCategory">5</span><br><p class="underProposerInfoText">по<br>категорії</p></ion-col>
          <ion-col size="3" text-center><span id="proposerMonth">2</span><br><p class="underProposerInfoText">місяці з BeeWorker</p></ion-col>
          <ion-col size="3" text-center><ion-button shape="round" (click)="onModal()">Більше</ion-button></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>



</ion-content>
